################################################################################
#### UPS Management Configuration File
################################################################################

# UPS related settings
UPS_NAME=ups-name@localhost           # UPS name defined in /etc/nut/ups.conf

# System settings
TARGET_EMAIL=user                     # Proxmox user used for email notifications

# Management thresholds
MIN_CHARGE=75                          # Start shutting down services below this percentage (e.g 75%)
MIN_RUNTIME=2500                       # Start shutting down services below this amount of seconds (e.g 2500 ~40m)
SHUTDOWN_THRESHOLD=50                  # Trigger full host FSD (power off) at this percentage (e.g. 50%)

# PBS Settings
PBS_IP=xxx.xxx.xxx.xxx                 # PBS server IP (xxx.xxx.xxx.xxx) (ssh must be configured for passwordless login)
PBS_TIMEOUT=120                        # Maximum seconds to wait for PBS to go offline (e.g. 120 seconds)

# Guest Settings
GUEST_SHUTDOWN_TIMEOUT=60              # Maximum seconds to wait per VM/LXC before forcing it to stop


# Application settings
BASE_DIR=/opt/ups-management           # Base directory for UPS management scripts
LOG_FILE=/var/log/ups-monitor.log      # Log file for UPS monitoring
POLL_INTERVAL=5                        # Polling interval (in seconds) for checking UPS status